--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
streamlit-drawable-canvas
opencv-python-headless
numpy
pandas
matplotlib
plotly
scipy
pillow
psutil
pydeck
pyarrow
torch
torchvision
ultralytics
